.App {
  
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height:120vh;
  text-align: left;
 
}
.stopwatch{
  border: 2px solid lightgray;
  margin: 200px 900px 10px 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px ;
}

